.navbar-corporate {
  border-bottom: 2px solid #27187E;
}

.nav-link {
  color: #27187E;
  font-weight: 600;
  transition: all 0.2s;
}

.nav-link:hover, .nav-link.active {
  color: #758BFD;
}

.btn-warning {
  background-color: #FF8600;
  border: none;
  color: white;
}

.btn-warning:hover {
  background-color: #e67900;
  color: white;
}
